/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #e78284 !default; //catpuccin
$red-color-dark: #ea999c !default; //catpuccin
$orange-color: #ef9f76 !default; //catppuccin
$blue-color: #99d1db !default; //catppuccin
$blue-color-dark: #8caaee !default; //catppuccin
$cyan-color: #8caaee !default; //cappuccin
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #a6d189 !default; //catpuccin
$green-color-lime: #99d1db !default; //catpuccin
$green-color-dark: #81c8be !default; //catpuccins
$green-color-light: #85c1dc !default; //catpuccin
$green-color-bright: #a6d189 !default; //catpuccin
$purple-color: #ca9ee6 !default; //catpuccin
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f4b8e4 !default; //catppuccin
$pink-color-light: #eebebe !default; //catppuccin
$yellow-color: #e5c890 !default; //catppuccin

$grey-color: #51576d; //catpuccin
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #303446; //catppuccin

$white-color: #c6d0f5 !default; //catppuccin
$black-color: #303446 !default; //catppuccin

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #303446 !default; //catppuccin

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
